{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Task</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Due</th>
                <td>{{ entity.due|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Completed</th>
                <td>{% if entity.completed %}{{entity.dateCompleted|date ('H:i:s d/m/Y') }}{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('task_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
